# Environment variables
.env

# Dependencies
node_modules/

# Data file
data.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor directories and files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Scripts with credentials
upload_to_github.ps1
